<ion-content>
  <div class="add-new-schools">
    <div class="title-container">
      <div routerLink="/admin/schools">
        <ion-icon name="chevron-back-outline"></ion-icon>
        <p>Schools</p>
      </div>
    </div>
    <ion-card>
      <div class="form-heading">
        <h3>Add new school</h3>
        <p>
          Create a new school profile to manage routes, students, and drivers.
        </p>
      </div>
      <form [formGroup]="schoolForm">
        <div class="form-container">
          <ion-grid>
            <ion-row>
              <!-- LEFT COLUMN -->
              <ion-col size="12" size-md="6">
                <ion-col size="12">
                  <ion-label>School Name </ion-label>
                  <ion-input
                    placeholder="Eg: SRV Marticulation Higher Sec School"
                    formControlName="schoolName"
                  ></ion-input>
                  <div class="error-container">
                    <ion-text
                      class="danger"
                      *ngIf="schoolForm.get('schoolName')?.touched && schoolForm.get('schoolName')?.invalid"
                    >
                      School name is required
                    </ion-text>
                  </div>
                </ion-col>

                <ion-col size="12">
                  <ion-label>Affiliation Board </ion-label>
                  <div class="input">
                    <ion-select
                      formControlName="affiliationBoard"
                      placeholder="Eg:CBSE,Stateboard..."
                    >
                      <ion-select-option value="CBSE">CBSE</ion-select-option>
                      <ion-select-option value="ICSE">ICSE</ion-select-option>
                      <ion-select-option value="State Board"
                        >State Board</ion-select-option
                      >
                    </ion-select>
                    <ion-icon name="chevron-down-outline"></ion-icon>
                  </div>
                  <div class="error-container">
                    <ion-text
                      class="danger"
                      *ngIf="schoolForm.get('affiliationBoard')?.touched && schoolForm.get('affiliationBoard')?.invalid"
                    >
                      Please select board
                    </ion-text>
                  </div>
                </ion-col>

                <ion-col size="12">
                  <ion-label>Address Line 2</ion-label>
                  <ion-input
                    placeholder="Eg:Triplicane,Opp LIC Bus Stop"
                    formControlName="address2"
                  ></ion-input>
                  <div class="error-container"></div>
                </ion-col>

                <ion-col size="12">
                  <ion-label>State </ion-label>
                  <ion-input
                    placeholder="Eg:Jharkhand"
                    formControlName="state"
                  ></ion-input>
                  <div class="error-container">
                    <ion-text
                      class="danger"
                      *ngIf="schoolForm.get('state')?.touched && schoolForm.get('state')?.invalid"
                    >
                      State is required
                    </ion-text>
                  </div>
                </ion-col>

                <ion-col size="12">
                  <ion-label>Primary Contact Name </ion-label>
                  <ion-input
                    placeholder="Russel"
                    formControlName="primaryContactName"
                  ></ion-input>
                  <div class="error-container">
                    <ion-text
                      class="danger"
                      *ngIf="schoolForm.get('primaryContactName')?.touched && schoolForm.get('primaryContactName')?.invalid"
                    >
                      Contact name is required
                    </ion-text>
                  </div>
                </ion-col>

                <ion-col size="12">
                  <ion-label>Email </ion-label>
                  <ion-input
                    type="email"
                    placeholder="Eg: ripleyenterpraises@gmail.com"
                    formControlName="email"
                  ></ion-input>
                  <div class="error-container">
                    <ion-text
                      class="danger"
                      *ngIf="schoolForm.get('email')?.touched && schoolForm.get('email')?.invalid"
                    >
                      Enter valid email
                    </ion-text>
                  </div>
                </ion-col>

                <ion-col size="12">
                  <!-- <ion-label
                    >School Timings
                    <ion-text
                      color="danger"
                      *ngIf="schoolForm.get('schoolTimings')?.touched && schoolForm.get('schoolTimings')?.invalid"
                    >
                      School timing is required
                    </ion-text>
                  </ion-label>
                  <ion-input
                    placeholder="Eg: 9.00 - 16.30"
                    formControlName="schoolTimings"
                  ></ion-input> -->
                  <ion-label>
                    School Timings

                    <ion-text color="danger" *ngIf="isInvalid('schoolTimings')">
                      Time is required
                    </ion-text>
                  </ion-label>

                  <div class="date-box" (click)="openTimePicker()">
                    <span>
                      {{ schoolForm.value.startTime && schoolForm.value.endTime
                      ? (formatTime(schoolForm.value.startTime) + ' - ' +
                      formatTime(schoolForm.value.endTime)) : '09:00 AM-04:30PM'
                      }}
                    </span>
                    <div class="icon-container">
                      <ion-icon name="time-outline"></ion-icon>
                    </div>
                  </div>

                  <!-- 🔥 REMOVE formControlName from here -->
                  <ion-modal
                    [isOpen]="isTimeOpen"
                    (didDismiss)="onModalClose()"
                    class="time-modal"
                  >
                    <ng-template>
                      <div class="time-modal-content">
                        <!-- Start Time -->
                        <div class="time-section">
                          <ion-label class="time-label">Start Time</ion-label>

                          <div class="time-picker-wrapper">
                            <ion-datetime
                              presentation="time"
                              (ionChange)="selectStartTime($event)"
                            ></ion-datetime>
                          </div>
                        </div>

                        <!-- Divider -->
                        <div class="time-divider"></div>

                        <!-- End Time -->
                        <div class="time-section">
                          <ion-label class="time-label">End Time</ion-label>

                          <div class="time-picker-wrapper">
                            <ion-datetime
                              presentation="time"
                              (ionChange)="selectEndTime($event)"
                            ></ion-datetime>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ion-modal>
                </ion-col>
              </ion-col>

              <!-- RIGHT COLUMN -->
              <ion-col size="12" size-md="6">
                <ion-col size="12" class="right-side">
                  <ion-label>School Type </ion-label>
                  <div class="input">
                    <ion-select
                      formControlName="schoolType"
                      placeholder="Eg: Primary, Higher Secondary..."
                    >
                      <ion-select-option value="Primary"
                        >Primary</ion-select-option
                      >
                      <ion-select-option value="Secondary"
                        >Secondary</ion-select-option
                      >
                      <ion-select-option value="Higher Secondary"
                        >Higher Secondary</ion-select-option
                      >
                    </ion-select>
                    <ion-icon
                      class="down"
                      name="chevron-down-outline"
                    ></ion-icon>
                  </div>
                  <div class="error-container">
                    <ion-text
                      class="danger"
                      *ngIf="schoolForm.get('schoolType')?.touched && schoolForm.get('schoolType')?.invalid"
                    >
                      Select school type
                    </ion-text>
                  </div>
                </ion-col>

                <ion-col size="12" class="right-side">
                  <ion-label>Address Line 1 </ion-label>
                  <ion-input
                    placeholder="Eg: Redwood Building..."
                    formControlName="address1"
                  ></ion-input>
                  <div class="error-container">
                    <ion-text
                      class="danger"
                      *ngIf="schoolForm.get('address1')?.touched && schoolForm.get('address1')?.invalid"
                    >
                      Address is required
                    </ion-text>
                  </div>
                </ion-col>

                <ion-col size="12" class="right-side">
                  <ion-label>City </ion-label>
                  <ion-input
                    placeholder="Eg: Delhi"
                    formControlName="city"
                  ></ion-input>
                  <div class="error-container">
                    <ion-text
                      class="danger"
                      *ngIf="schoolForm.get('city')?.touched && schoolForm.get('city')?.invalid"
                    >
                      City is required
                    </ion-text>
                  </div>
                </ion-col>

                <ion-col size="12" class="right-side">
                  <ion-label>Postal Code </ion-label>
                  <ion-input
                    type="number"
                    placeholder="Eg: 349086"
                    formControlName="postalCode"
                  ></ion-input>
                  <div class="error-container">
                    <ion-text
                      class="danger"
                      *ngIf="schoolForm.get('postalCode')?.touched && schoolForm.get('postalCode')?.invalid"
                    >
                      Enter valid 6 digit PIN code
                    </ion-text>
                  </div>
                </ion-col>

                <ion-col size="12" class="right-side">
                  <ion-label>Contact Phone </ion-label>
                  <ion-input
                    type="tel"
                    placeholder="Eg: 9629371***"
                    formControlName="contactPhone"
                  ></ion-input>
                  <div class="error-container">
                    <ion-text
                      class="danger"
                      *ngIf="schoolForm.get('contactPhone')?.touched && schoolForm.get('contactPhone')?.invalid"
                    >
                      Enter valid 10 digit number
                    </ion-text>
                  </div>
                </ion-col>

                <ion-col size="12" class="right-side">
                  <ion-label>Operating Days </ion-label>
                  <div class="input">
                    <ion-select
                      formControlName="operatingDays"
                      placeholder="Eg: Monday-Friday"
                    >
                      <ion-select-option value="Mon-Fri"
                        >Monday - Friday</ion-select-option
                      >
                      <ion-select-option value="Mon-Sat"
                        >Monday - Saturday</ion-select-option
                      >
                    </ion-select>
                  </div>
                  <div class="error-container">
                    <ion-text
                      class="danger"
                      *ngIf="schoolForm.get('operatingDays')?.touched && schoolForm.get('operatingDays')?.invalid"
                    >
                      Select operating days
                    </ion-text>
                  </div>
                </ion-col>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-button
            type="button"
            expand="block"
            class="confirm-btn"
            [disabled]="schoolForm.invalid"
            (click)="submit()"
            fill="clear"
          >
            Confirm
          </ion-button>
        </div>
      </form>
    </ion-card>
  </div>
</ion-content>
