<ion-content>
  <div class="profile-container">
    <div class="header">
      <div class="title-container">
        <div>Driver</div>
      </div>
      <ion-button (click)="addNewSchool()" fill="clear" fill="clear"
        ><div class="plus-container"><span>+</span></div> <p>Add New Driver</p></ion-button
      >
    </div>
    <div class="table-container">
      <div class="border-table">
        <div class="head-container">
          <!-- <div class="table-head-wrap">
      <div class="table-head"> -->
          <span class="s-no">S.no</span>
          <span><div class="school-name">Driver Name</div></span>
          <span><div class="buses">Assigned Bus</div></span>
          <span><div class="A-route">Assigned Route</div></span>
          <span class="advance">Outstanding <br />&nbsp;&nbsp;Advance</span>
          <span class="status">Status<img src="\assets\img\mynaui_filter-solid.png" alt=""></span>
          <!-- </div>
      </div> -->
        </div>
      </div>

      <div class="table-card">
        <div>
          <div class="table-row" *ngFor="let s of schools; let i = index">
            <span class="c-no">{{ i + 1 }}</span>
            <span><div class="driver-name">{{ s.name }}</div></span>
            <span class="buses-no">{{ s.buses }}</span>
            <span class="route">{{s.route}}</span>
            <span
              ><div class="Advance-amount">
                {{ s.outstandingAdvance }}
              </div></span
            >
            <span class="active"
              ><div class="active2">{{ s.status }}</div></span
            >
            <p class="view" [routerLink]="['/admin/driver/driver-profile']">
              View ››
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
