<ion-content mode="ios">
  <div class="student-profile-container">
    <div class="title-container">
      <div routerLink="/admin/students-and-parents">
        <ion-icon name="chevron-back-outline"></ion-icon
        ><span class="name">Student & Parents</span>
      </div>
    </div>
    <ion-card>
      <form [formGroup]="studentForm">
        <div class="header-container">
          <h2>Student Profile</h2>
        </div>
        <div class="status-container">
          <!-- <ion-toggle class="success" [(ngModel)]="isActive"></ion-toggle> -->
          <!-- [(ngModel)]="isActive" -->
          <ion-toggle color="dark-green"><span>Active</span></ion-toggle>
        </div>
        <ion-grid>
          <!-- Row 1 -->
          <ion-row>
            <ion-col size="6">
              <ion-label position="stacked">Student Name</ion-label>

              <ion-input formControlName="studentName"></ion-input>

              <div class="error-container">
                <ion-text
                  class="danger"
                  *ngIf="studentForm.get('studentName')?.touched &&
                 studentForm.get('studentName')?.invalid"
                >
                  Students Name Required
                </ion-text>
              </div>
            </ion-col>

            <ion-col size="6" class="align-right-field">
              <ion-label position="stacked">
                Admission Number (optional)
              </ion-label>

              <ion-input formControlName="admissionNumber"></ion-input>

              <div class="error-container"></div>
            </ion-col>
          </ion-row>

          <!-- Row 2 -->
          <ion-row>
            <ion-col size="6">
              <ion-label position="stacked">Grade / Class</ion-label>

              <div class="input">
                <ion-select formControlName="grade">
                  <ion-select-option value="10th">10th</ion-select-option>
                </ion-select>

                <ion-icon class="down" name="chevron-down-outline"></ion-icon>
              </div>

              <div class="error-container">
                <ion-text
                  class="danger"
                  *ngIf="studentForm.get('grade')?.touched &&
                 studentForm.get('grade')?.invalid"
                >
                  Required
                </ion-text>
              </div>
            </ion-col>

            <ion-col size="6" class="align-right-field">
              <ion-label position="stacked">Section (optional)</ion-label>

              <ion-input formControlName="section"></ion-input>

              <div class="error-container"></div>
            </ion-col>
          </ion-row>

          <!-- Row 3 -->
          <ion-row>
            <ion-col size="6">
              <ion-label position="stacked">School</ion-label>

              <div class="input">
                <ion-select formControlName="school">
                  <ion-select-option value="ARLM">ARLM</ion-select-option>
                </ion-select>

                <ion-icon class="down" name="chevron-down-outline"></ion-icon>
              </div>

              <div class="error-container">
                <ion-text
                  class="danger"
                  *ngIf="studentForm.get('school')?.touched &&
                 studentForm.get('school')?.invalid"
                >
                  Required
                </ion-text>
              </div>
            </ion-col>

            <ion-col size="6" class="align-right-field">
              <ion-label position="stacked">Route</ion-label>

              <div class="input">
                <ion-select formControlName="route">
                  <ion-select-option value="Route 51">
                    Route 51
                  </ion-select-option>
                </ion-select>

                <ion-icon class="down" name="chevron-down-outline"></ion-icon>
              </div>

              <div class="error-container">
                <ion-text
                  class="danger"
                  *ngIf="studentForm.get('route')?.touched &&
                 studentForm.get('route')?.invalid"
                >
                  Required
                </ion-text>
              </div>
            </ion-col>
          </ion-row>

          <!-- Row 4 -->
          <ion-row>
            <ion-col size="6">
              <ion-label position="stacked">Pickup / Drop Stop</ion-label>

              <div class="input">
                <ion-select formControlName="pickupStop">
                  <ion-select-option value="Triplicane">
                    Triplicane
                  </ion-select-option>
                </ion-select>

                <ion-icon class="down" name="chevron-down-outline"></ion-icon>
              </div>

              <div class="error-container"></div>
            </ion-col>

            <ion-col size="6" class="align-right-field">
              <ion-label position="stacked">Assigned Bus</ion-label>

              <div class="input">
                <ion-select formControlName="assignedBus">
                  <ion-select-option value="TN31BF8236">
                    TN31BF8236
                  </ion-select-option>
                </ion-select>

                <ion-icon class="down" name="chevron-down-outline"></ion-icon>
              </div>

              <div class="error-container"></div>
            </ion-col>
          </ion-row>

          <!-- Row 5 -->
          <ion-row>
            <ion-col size="6">
              <ion-label position="stacked">Parent Name</ion-label>

              <ion-input formControlName="parentName"></ion-input>

              <div class="error-container">
                <ion-text
                  class="danger"
                  *ngIf="studentForm.get('parentName')?.touched &&
                 studentForm.get('parentName')?.invalid"
                >
                  Required
                </ion-text>
              </div>
            </ion-col>

            <ion-col size="6" class="align-right-field">
              <ion-label position="stacked">Relationship</ion-label>

              <ion-input formControlName="relationship"></ion-input>

              <div class="error-container"></div>
            </ion-col>
          </ion-row>

          <!-- Row 6 -->
          <ion-row>
            <ion-col size="6">
              <ion-label position="stacked">Phone Number</ion-label>

              <ion-input formControlName="phoneNumber"></ion-input>

              <div class="error-container">
                <ion-text
                  class="danger"
                  *ngIf="studentForm.get('phoneNumber')?.touched &&
                 studentForm.get('phoneNumber')?.invalid"
                >
                  Required
                </ion-text>
              </div>
            </ion-col>

            <ion-col size="6" class="align-right-field">
              <ion-label position="stacked">
                Email Address (optional)
              </ion-label>

              <ion-input formControlName="email"></ion-input>

              <div class="error-container"></div>
            </ion-col>
          </ion-row>

          <!-- Row 7 -->
          <ion-row>
            <ion-col size="6">
              <ion-label>Billing Start Date</ion-label>

              <!-- Custom Input -->
              <div class="date-box" (click)="openPicker()">
                <span>
                  {{ studentForm.get('billingStartDate')?.value ?
                  (studentForm.get('billingStartDate')?.value |
                  date:'MM/dd/yyyy') : 'mm/dd/yyyy' }}
                </span>

                <div class="icon-container">
                  <ion-icon name="calendar-clear-outline"></ion-icon>
                </div>
              </div>

              <div class="error-container">
                <ion-text
                  class="danger"
                  *ngIf="studentForm.get('billingStartDate')?.touched &&
                 studentForm.get('billingStartDate')?.errors"
                >
                  Billing start date is required
                </ion-text>
              </div>

              <!-- Date Picker -->
              <ion-modal [isOpen]="isOpen" (didDismiss)="isOpen = false">
                <ng-template>
                  <ion-datetime
                    formControlName="billingStartDate"
                    presentation="date"
                    (ionChange)="selectDate($event)"
                  ></ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-col>

            <ion-col size="6" class="align-right-field">
              <div class="toogle-container">
                <ion-label>Receive Notices & Announcements</ion-label>

                <div class="setting-box">
                  <div class="toggle">
                    <span>{{studentForm.value.receiveNotice}}</span>

                    <ion-toggle
                      [checked]="isChecked('receiveNotice')"
                      (ionChange)="toggleChange($event,'receiveNotice')"
                    >
                    </ion-toggle>
                  </div>
                </div>
              </div>

              <div class="error-container"></div>
            </ion-col>
          </ion-row>

          <!-- Row 8 -->
          <ion-row>
            <ion-col size="6">
              <div class="toogle-container">
                <ion-label>Complimentary Student</ion-label>

                <div class="setting-box">
                  <div class="toggle">
                    <span>{{studentForm.value.complimentaryStudent}}</span>

                    <ion-toggle
                      [checked]="isChecked('complimentaryStudent')"
                      (ionChange)="toggleChange($event,'complimentaryStudent')"
                    >
                    </ion-toggle>
                  </div>
                </div>
              </div>

              <div class="error-container"></div>
            </ion-col>

            <ion-col size="6" class="align-right-field">
              <ion-label position="stacked">Billing Type</ion-label>

              <div class="input">
                <ion-select formControlName="billingType">
                  <ion-select-option value="Billable">
                    Billable
                  </ion-select-option>
                </ion-select>

                <ion-icon class="down" name="chevron-down-outline"></ion-icon>
              </div>

              <div class="error-container"></div>
            </ion-col>
          </ion-row>

          <!-- Row 9 -->
          <ion-row>
            <ion-col size="6">
              <ion-label position="stacked">Student Status</ion-label>

              <div class="input">
                <ion-select formControlName="studentStatus">
                  <ion-select-option value="Pause"> Pause </ion-select-option>
                </ion-select>

                <ion-icon class="down" name="chevron-down-outline"></ion-icon>
              </div>

              <div class="error-container"></div>
            </ion-col>

            <ion-col size="6" class="align-right-field">
              <div class="toogle-container">
                <ion-label>Disable Notices & Announcements</ion-label>

                <div class="setting-box">
                  <div class="toggle">
                    <span>{{studentForm.value.disableNotice}}</span>

                    <ion-toggle
                      [checked]="isChecked('disableNotice')"
                      (ionChange)="toggleChange($event,'disableNotice')"
                    >
                    </ion-toggle>
                  </div>
                </div>
              </div>

              <div class="error-container"></div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-button fill="clear" (click)="updateStudent()"> Update </ion-button>
      </form>
    </ion-card>

    <div>
      <div class="billing-overview-container">
        <form [formGroup]="billingForm">
          <div class="bill-overview-container">
            <h2>Billing Overview</h2>
          </div>
          <ion-grid>
            <ion-row>
              <!-- Monthly Fare -->
              <ion-col size="6">
                <ion-label>Monthly Fare</ion-label>

                <div class="input-count">
                  <ion-input
                    type="number"
                    formControlName="monthlyFare"
                    placeholder="$ 1000.00"
                  ></ion-input>
                </div>

                <div class="error-container">
                  <ion-text
                    class="danger"
                    *ngIf="billingForm.get('monthlyFare')?.touched && billingForm.get('monthlyFare')?.invalid"
                  >
                    <small
                      *ngIf="billingForm.get('monthlyFare')?.errors?.['required']"
                    >
                      Monthly fare is required
                    </small>

                    <small
                      *ngIf="billingForm.get('monthlyFare')?.errors?.['min']"
                    >
                      Minimum amount should be greater than 0
                    </small>

                    <small
                      *ngIf="billingForm.get('monthlyFare')?.errors?.['pattern']"
                    >
                      Enter valid amount (max 2 decimal places)
                    </small>
                  </ion-text>
                </div>
              </ion-col>

              <!-- Billing Start Date -->
              <ion-col size="6" class="align-right-field">
                <ion-label>Billing Start Date</ion-label>

                <!-- Custom Input -->
                <div class="date-box2" (click)="openPicker()">
                  <span>
                    {{ billingForm.get('billingStartDate')?.value ?
                    (billingForm.get('billingStartDate')?.value |
                    date:'MM/dd/yyyy') : 'mm/dd/yyyy' }}
                  </span>

                  <div class="icon-container">
                    <ion-icon name="calendar-clear-outline"></ion-icon>
                  </div>
                </div>

                <div class="error-container">
                  <ion-text
                    class="danger"
                    *ngIf="billingForm.get('billingStartDate')?.touched && billingForm.get('billingStartDate')?.errors"
                  >
                    Billing start date is required
                  </ion-text>
                </div>

                <!-- Date Picker -->
                <ion-modal [isOpen]="isOpen" (didDismiss)="isOpen = false">
                  <ng-template>
                    <ion-datetime
                      formControlName="billingStartDate"
                      presentation="date"
                      (ionChange)="selectDate($event)"
                    ></ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-col>

              <!-- Outstanding Dues -->
              <ion-col size="6">
                <ion-label>Outstanding Dues</ion-label>

                <div class="input-count">
                  <ion-input
                    type="number"
                    formControlName="outstandingDues"
                    placeholder="$ 0"
                  ></ion-input>
                </div>

                <div class="error-container">
                  <ion-text
                    class="danger"
                    *ngIf="billingForm.get('outstandingDues')?.touched && billingForm.get('outstandingDues')?.invalid"
                  >
                    <small
                      *ngIf="billingForm.get('outstandingDues')?.errors?.['min']"
                    >
                      Value cannot be negative
                    </small>

                    <small
                      *ngIf="billingForm.get('outstandingDues')?.errors?.['pattern']"
                    >
                      Enter valid amount (max 2 decimal places)
                    </small>
                  </ion-text>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </div>
    </div>

    <ion-card class="activity-loge">
      <div class="header-container">
        <h2>Activity loge</h2>
      </div>
      <div class="activity-list">
        <div class="activity-item" *ngFor="let item of activityLog">
          <div class="date">{{item.date}}</div>
          <div class="text">{{item.message}}</div>
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>
