<ion-content mode="ios">
  <div class="bill-profile-container">
    <div class="title-container">
      <div routerLink="/admin/bus">
        <ion-icon name="chevron-back-outline"></ion-icon>Billing & Payments
      </div>
    </div>
    <ion-card>
      <form [formGroup]="billDetailsForm">
        <div class="header-container">
          <h2>Bill Details</h2>
        </div>
        <div class="status-container">
          <!-- <ion-toggle class="success" [(ngModel)]="isActive"></ion-toggle> -->
          <!-- [(ngModel)]="isActive" -->
          <ion-toggle color="dark-green"><span>Active</span></ion-toggle>
        </div>
        <ion-grid>
          <ion-row>
            <!-- Student Name -->
            <ion-col size="12" size-md="6">
              <label>Student Name</label>

              <div class="input-count">
                <ion-input
                  placeholder="Eg: New Tyre has been changed"
                  formControlName="studentName"
                >
                </ion-input>
              </div>

              <div class="error-container">
                <ion-text
                  class="danger"
                  *ngIf="billDetailsForm.get('studentName')?.touched && billDetailsForm.get('studentName')?.invalid"
                >
                  <small
                    *ngIf="billDetailsForm.get('studentName')?.errors?.['required']"
                  >
                    Student name is required
                  </small>

                  <small
                    *ngIf="billDetailsForm.get('studentName')?.errors?.['pattern']"
                  >
                    Only letters allowed
                  </small>
                </ion-text>
              </div>
            </ion-col>

            <!-- Parents Name -->
            <ion-col class="align-right-field" size="12" size-md="6">
              <label>Parents Name</label>

              <div class="input-count">
                <ion-input
                  type="data"
                  placeholder="Eg: 30/12/2025"
                  formControlName="parentsName"
                >
                </ion-input>
              </div>

              <div class="error-container">
                <ion-text
                  class="danger"
                  *ngIf="billDetailsForm.get('parentsName')?.touched && billDetailsForm.get('parentsName')?.invalid"
                >
                  <small
                    *ngIf="billDetailsForm.get('parentsName')?.errors?.['required']"
                  >
                    Parents name is required
                  </small>

                  <small
                    *ngIf="billDetailsForm.get('parentsName')?.errors?.['pattern']"
                  >
                    Only letters allowed
                  </small>
                </ion-text>
              </div>
            </ion-col>

            <!-- Phone Number -->
            <ion-col size="12" size-md="6">
              <label>Phone Number</label>

              <div class="input-count">
                <ion-input
                  placeholder="Eg: $ 45.00"
                  formControlName="phoneNumber"
                >
                </ion-input>
              </div>

              <div class="error-container">
                <ion-text
                  class="danger"
                  *ngIf="billDetailsForm.get('phoneNumber')?.touched && billDetailsForm.get('phoneNumber')?.invalid"
                >
                  <small
                    *ngIf="billDetailsForm.get('phoneNumber')?.errors?.['required']"
                  >
                    Phone number is required
                  </small>

                  <small
                    *ngIf="billDetailsForm.get('phoneNumber')?.errors?.['pattern']"
                  >
                    Enter valid 10 digit number
                  </small>
                </ion-text>
              </div>
            </ion-col>

            <!-- School -->
            <ion-col class="align-right-field" size="12" size-md="6">
              <label>School</label>

              <div class="input-count">
                <ion-input
                  placeholder="Eg: New Tyre has been changed"
                  formControlName="school"
                >
                </ion-input>
              </div>

              <div class="error-container">
                <ion-text
                  class="danger"
                  *ngIf="billDetailsForm.get('school')?.touched && billDetailsForm.get('school')?.invalid"
                >
                  <small>School is required</small>
                </ion-text>
              </div>
            </ion-col>

            <!-- Route / School -->
            <ion-col size="12" size-md="6">
              <label>School</label>

              <div class="input-count">
                <ion-input
                  placeholder="Eg: New Tyre has been changed"
                  formControlName="school"
                >
                </ion-input>
              </div>

              <div class="error-container">
                <ion-text
                  class="danger"
                  *ngIf="billDetailsForm.get('school')?.touched && billDetailsForm.get('school')?.invalid"
                >
                  <small>School is required</small>
                </ion-text>
              </div>
            </ion-col>

            <!-- Billing Month -->
            <ion-col class="align-right-field" size="12" size-md="6">
              <label>Billing Month</label>

              <div class="input-count">
                <ion-input
                  placeholder="Eg: New Tyre has been changed"
                  formControlName="billingMonth"
                >
                </ion-input>
              </div>

              <div class="error-container">
                <ion-text
                  class="danger"
                  *ngIf="billDetailsForm.get('billingMonth')?.touched && billDetailsForm.get('billingMonth')?.invalid"
                >
                  <small>Billing month is required</small>
                </ion-text>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <!-- Confirm Button -->
        <div class="first-btn">
          <ion-button
            expand="block"
            [disabled]="billDetailsForm.invalid"
            class="confirm-btn"
            fill="clear"
            (click)="submitForm()"
          >
            Update
          </ion-button>
        </div>
      </form>
    </ion-card>

    <ion-card class="billing-breakdown">
      <form [formGroup]="billingForm" class="billing-card">
        <div class="header-container">
          <h2>Billing Breakdown</h2>
        </div>
        <ion-grid>
          <ion-row>
            <!-- Transport Fare -->
            <ion-col size="6">
              <div class="input-count">
                <label
                  >Transport Fare
                  <ion-text
                    class="danger"
                    *ngIf="billingForm.get('transportFare')?.touched && billingForm.get('transportFare')?.invalid"
                  >
                    <small
                      *ngIf="billingForm.get('transportFare')?.errors?.['required']"
                    >
                      Transport fare is required
                    </small>

                    <small
                      *ngIf="billingForm.get('transportFare')?.errors?.['min']"
                    >
                      Amount cannot be negative
                    </small>

                    <small
                      *ngIf="billingForm.get('transportFare')?.errors?.['pattern']"
                    >
                      Enter valid amount (max 2 decimal)
                    </small>
                  </ion-text>
                </label>

                <label slot="start">$</label>
                <ion-input
                  type="number"
                  formControlName="transportFare"
                ></ion-input>
              </div>
            </ion-col>

            <!-- Previous Due -->
            <ion-col size="6" class="align-right-field">
              <div class="input-count">
                <label
                  >Previous Due
                  <ion-text
                    class="danger"
                    *ngIf="billingForm.get('previousDue')?.touched && billingForm.get('previousDue')?.invalid"
                  >
                    <small
                      *ngIf="billingForm.get('previousDue')?.errors?.['min']"
                    >
                      Amount cannot be negative
                    </small>

                    <small
                      *ngIf="billingForm.get('previousDue')?.errors?.['pattern']"
                    >
                      Enter valid amount (max 2 decimal)
                    </small>
                  </ion-text>
                </label>

                <label slot="start">$</label>
                <ion-input
                  type="number"
                  formControlName="previousDue"
                ></ion-input>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <!-- Late Fee -->
            <ion-col size="6">
              <div class="input-count">
                <label
                  >Late Fee
                  <ion-text
                    class="danger"
                    *ngIf="billingForm.get('lateFee')?.touched && billingForm.get('lateFee')?.invalid"
                  >
                    <small *ngIf="billingForm.get('lateFee')?.errors?.['min']">
                      Amount cannot be negative
                    </small>

                    <small
                      *ngIf="billingForm.get('lateFee')?.errors?.['pattern']"
                    >
                      Enter valid amount (max 2 decimal)
                    </small>
                  </ion-text>
                </label>

                <label slot="start">$</label>
                <ion-input type="number" formControlName="lateFee"></ion-input>
              </div>
            </ion-col>

            <!-- Total Amount -->
            <ion-col size="6" class="align-right-field">
              <div class="input-count">
                <label
                  >Total Amount
                  <ion-text
                    class="danger"
                    *ngIf="billingForm.get('totalAmount')?.touched && billingForm.get('totalAmount')?.invalid"
                  >
                    <small
                      *ngIf="billingForm.get('totalAmount')?.errors?.['required']"
                    >
                      Total amount is required
                    </small>

                    <small
                      *ngIf="billingForm.get('totalAmount')?.errors?.['min']"
                    >
                      Amount cannot be negative
                    </small>

                    <small
                      *ngIf="billingForm.get('totalAmount')?.errors?.['pattern']"
                    >
                      Enter valid amount
                    </small>
                  </ion-text>
                </label>

                <label slot="start">$</label>
                <ion-input
                  type="number"
                  formControlName="totalAmount"
                  readonly
                ></ion-input>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card>

    <div
      *ngIf="
    !isPaymentRecorded"
    >
      <ion-card class="payment-recording">
        <form [formGroup]="paymentForm">
          <div class="header-container">
            <h2>Payment Recording</h2>
          </div>

          <ion-grid>
            <!-- Row 1 -->
            <ion-row>
              <ion-col size="6">
                <ion-label
                  >Payment Amount
                  <ion-text
                    class="danger"
                    *ngIf="paymentForm.get('amount')?.touched && paymentForm.get('amount')?.invalid"
                  >
                    <small
                      *ngIf="paymentForm.get('amount')?.errors?.['required']"
                    >
                      Amount is required
                    </small>
                    <small *ngIf="paymentForm.get('amount')?.errors?.['min']">
                      Amount must be greater than 0
                    </small>
                  </ion-text>
                </ion-label>

                <ion-label slot="start">$</ion-label>
                <ion-input type="number" formControlName="amount"></ion-input>
              </ion-col>

              <ion-col size="6" class="align-right-field">
                <ion-label
                  >Payment Mode
                  <ion-text
                    class="danger"
                    *ngIf="paymentForm.get('mode')?.touched && paymentForm.get('mode')?.invalid"
                  >
                    <small>Payment mode is required</small>
                  </ion-text>
                </ion-label>
                <div class="input">
                  <ion-select formControlName="mode">
                    <ion-select-option value="upi">UPI</ion-select-option>
                    <ion-select-option value="cash">Cash</ion-select-option>
                    <ion-select-option value="card">Card</ion-select-option>
                  </ion-select>
                  <ion-icon class="down" name="chevron-down-outline"></ion-icon>
                </div>
              </ion-col>
            </ion-row>

            <!-- Row 2 -->
            <ion-row>
              <ion-col size="6">
                <ion-label>
                  Payments Date
                  <ion-text
                    class="danger"
                    *ngIf="paymentForm.get('date')?.touched && paymentForm.get('date')?.errors"
                  >
                    Payments Date is required
                  </ion-text>
                </ion-label>

                <!-- Custom Input -->
                <div class="date-box" (click)="openPicker()">
                  <span>
                    {{ paymentForm.get('date')?.value ?
                    (paymentForm.get('date')?.value | date:'MM/dd/yyyy') :
                    'mm/dd/yyyy' }}
                  </span>
                  <div class="icon-container">
                    <ion-icon name="calendar-clear-outline"></ion-icon>
                  </div>
                </div>

                <!-- Date Picker -->
                <ion-modal [isOpen]="isOpen" (didDismiss)="isOpen = false">
                  <ng-template>
                    <ion-datetime
                      formControlName="date"
                      presentation="date"
                      (ionChange)="selectDate($event)"
                    ></ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-col>

              <ion-col size="6" class="align-right-field">
                <ion-label>Reference ID (optional)</ion-label>

                <ion-input formControlName="reference"></ion-input>
              </ion-col>
            </ion-row>

            <!-- Row 3 -->
            <ion-row>
              <ion-col size="12">
                <ion-label>Notes (optional)</ion-label>
                <div class="input">
                  <ion-select formControlName="notes">
                    <ion-select-option value="parent">
                      Payment made from parent’s phone
                    </ion-select-option>
                    <ion-select-option value="self">
                      Payment made by student
                    </ion-select-option>
                  </ion-select>
                  <ion-icon class="down" name="chevron-down-outline"></ion-icon>
                </div>
              </ion-col>
            </ion-row>
            <br /><br />

            <div class="header-container">
              <!-- <h2>Payment Recording</h2> -->
            </div>
            <br /><br />

            <!-- Row 4 -->
            <ion-row>
              <ion-col size="6">
                <ion-label>Total Bill</ion-label>
                <div class="input-count">
                  <ion-input formControlName="totalBill" readonly></ion-input>
                </div>
              </ion-col>

              <ion-col size="6" class="align-right-field">
                <label>Paid So Far</label>
                <div class="input-count">
                  <ion-input formControlName="paid" readonly></ion-input>
                </div>
              </ion-col>
            </ion-row>

            <!-- Row 5 -->
            <ion-row>
              <ion-col size="6">
                <ion-label>Outstanding Balance</ion-label>

                <div class="input-count">
                  <ion-input readonly formControlName="balance"></ion-input>
                </div>
              </ion-col>
            </ion-row>

            <!-- Buttons -->
            <ion-row class="btn-row">
              <ion-col size="6">
                <div class="recored-btn">
                  <ion-button fill="clear">Cancel </ion-button>
                </div>
              </ion-col>

              <ion-col size="6">
                <div class="recored-btn2">
                  <ion-button fill="clear" (click)="recordPayment()"
                    >Record Payment
                  </ion-button>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-card>

      <ion-card class="payment-history">
        <div class="header-container">
          <h2>Payment History</h2>
        </div>
        <div class="table-profit-container">
          <div class="head-container">
            <!-- <div class="table-head-wrap">
            <div class="table-head"> -->
            <span><div class="date">Date</div></span>

            <span><div class="catagory">Amount</div></span>
            <span><div class="mode">Mode</div></span>
            <span><div class="status">Reference</div></span>
            <!-- </div>
          </div> -->
          </div>

          <div class="table-card">
            <div class="table-row" *ngFor="let e of advanceList">
              <span><div class="date">{{ e.date }}</div></span>
              <span><div class="catagory">{{ e.reason }}</div></span>
              <span><div class="mode">{{ e.amount }}</div></span>
              <span><div class="status">{{ e.status }}</div></span>
            </div>
          </div>
        </div>
      </ion-card>
    </div>

    <div *ngIf="isPaymentRecorded">
      <div class="after-record">
        <div class="header-container">
          <h2>Payment Recording</h2>
          <div class="btn-container">
            <div class="button">
              <ion-button (click)="sendWhatsapp()" fill="clear">
                <div>WhatsApp</div>
                <ion-icon name="share-social-outline"></ion-icon>
              </ion-button>
            </div>
            <div class="button2">
              <ion-button (click)="downloadReceipt()" fill="clear">
                <div>download</div>
                <img src="assets/img/download (1).png" alt="" />
              </ion-button>
            </div>
          </div>
        </div>
        <form [formGroup]="paymentForm">
          <ion-grid>
            <!-- Row 1 -->
            <ion-row>
              <ion-col size="6">
                <label>Payment Amount</label>

                <div class="input-count">
                  <ion-input type="number" formControlName="amount"></ion-input>
                </div>
              </ion-col>

              <ion-col size="6">
                <label>Payment Mode</label>
                <div class="input-count">
                  <ion-input formControlName="mode" readonly></ion-input>
                </div>
              </ion-col>
            </ion-row>

            <!-- Row 2 -->
            <ion-row>
              <ion-col size="6">
                <label>Payment Date</label>
                <div class="input-count">
                  <ion-input formControlName="date" readonly></ion-input>
                  <!-- <ion-icon name="calendar-outline" slot="end"></ion-icon> -->
                </div>
              </ion-col>

              <ion-col size="6">
                <label>Reference ID (optional)</label>
                <div class="input-count">
                  <ion-input formControlName="reference" readonly></ion-input>
                </div>
              </ion-col>
            </ion-row>

            <!-- Row 3 -->
            <ion-row>
              <ion-col size="12">
                <label>Notes (optional)</label>
                <div class="input-count">
                  <ion-input formControlName="notes" readonly></ion-input>
                </div>
              </ion-col>
            </ion-row>
            <br /><br />

            <div class="header-container">
              <!-- <h2>Payment Recording</h2> -->
            </div>
            <br /><br />

            <!-- Row 4 -->
            <ion-row>
              <ion-col size="6">
                <label>Total Bill</label>
                <div class="input-count">
                  <ion-input formControlName="totalBill" readonly></ion-input>
                </div>
              </ion-col>

              <ion-col size="6">
                <label>Paid So Far</label>
                <div class="input-count">
                  <ion-input formControlName="paid" readonly></ion-input>
                </div>
              </ion-col>
            </ion-row>

            <!-- Row 5 -->
            <ion-row>
              <ion-col size="6">
                <label>Outstanding Balance</label>

                <div class="input-count">
                  <ion-input formControlName="balance" readonly></ion-input>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <div class="add-new-recored-btn">
            <ion-button fill="clear" (click)="isPaymentRecorded=false">
              Add New Record &nbsp;<img src="assets/img/download.png" alt="" />
            </ion-button>
          </div>
        </form>
      </div>
    </div>

    <ion-card class="due-and-reminder-managment">
      <form [formGroup]="dueForm">
        <div class="header-container">
          <h2>Due & Reminder Managment</h2>
        </div>
        <ion-grid>
          <ion-row>
            <!-- Current Due -->
            <ion-col size="6">
              <label>Current Due</label>

              <div class="input-count">
                <ion-input
                  type="number"
                  formControlName="currentDue"
                  placeholder="Enter Current Due"
                >
                </ion-input>
              </div>

              <!-- Error Container -->
              <div
                class="error-container"
                *ngIf="dueForm.get('currentDue')?.touched && dueForm.get('currentDue')?.invalid"
              >
                <small
                  class="danger"
                  *ngIf="dueForm.get('currentDue')?.errors?.['required']"
                >
                  Current due is required
                </small>

                <small
                  class="danger"
                  *ngIf="dueForm.get('currentDue')?.errors?.['min']"
                >
                  Value cannot be negative
                </small>
              </div>
            </ion-col>

            <!-- Due Since -->
            <ion-col size="6" class="align-right-field">
              <label>Due Since</label>

              <!-- Custom Input -->
              <div class="date-box2" (click)="openPicker2()">
                <span>
                  {{dueForm.get('dueSince')?.value ?
                  (dueForm.get('dueSince')?.value | date:'MM/dd/yyyy') :
                  'mm/dd/yyyy' }}
                </span>

                <div class="icon-container">
                  <ion-icon name="calendar-clear-outline"></ion-icon>
                </div>
              </div>

              <!-- Error Container -->
              <div
                class="error-container"
                *ngIf="dueForm.get('dueSince')?.touched && dueForm.get('dueSince')?.invalid"
              >
                <small class="danger" *ngIf="dueForm.get('dueSince')?.errors?.['required']">
                  Date is required
                </small>

                <small class="danger" *ngIf="dueForm.get('dueSince')?.errors?.['futureDate']">
                  Future date not allowed
                </small>
              </div>

              <!-- Date Picker -->
              <ion-modal [isOpen]="isOpen2" (didDismiss)="isOpen2 = false">
                <ng-template>
                  <ion-datetime
                    formControlName="dueSince"
                    presentation="date"
                    (ionChange)="selectDate2($event)"
                  ></ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-col>
          </ion-row>

          <!-- Buttons -->
          <ion-row class="btn-row">
            <ion-col size="6">
              <ion-button
                class="dRM-btn"
                fill="clear"
                (click)="sendReceiptWhatsapp()"
              >
                Send Receipt via WhatsApp
              </ion-button>
            </ion-col>

            <ion-col size="6">
              <ion-button
                class="dRM-btn2"
                fill="clear"
                (click)="sendPaymentReminder()"
              >
                Send Payment Reminder
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card>
    <div class="domi-card"></div>
  </div>
</ion-content>
