<ion-content class="profile-bg">
  <div class="top-header">
    <div class="profile-container">
      <div class="title-container">
        <div>My profile</div>
      </div>
      <ion-card class="local-information">
        <h2 class="form-head">Local Information</h2>

        <form [formGroup]="profileForm" (ngSubmit)="submitForm()">
          <ion-grid>
            <ion-row>
              <!-- LEFT COLUMN -->
              <ion-col size="6">
                <ion-list lines="none">
                  <!-- Name -->

                  <ion-item class="profile-item">
                    <ion-label position="stacked">Name </ion-label>
                    <ion-input formControlName="name"
                      placeholder="Ripley Transports"> </ion-input>
                    <div class="error-container">
                      <span
                        class="danger"
                        *ngIf="profileForm.get('name')?.touched && profileForm.get('name')?.errors"
                        >Name is required</span
                      >
                    </div>
                  </ion-item>

                  <!-- Address -->
                  <ion-item class="profile-item">
                    <ion-label position="stacked"
                      >Registered Address
                    </ion-label>
                    <ion-input formControlName="address"
                    placeholder="Main Street"></ion-input>
                    <div class="error-container">
                      <span
                        class="danger"
                        *ngIf="profileForm.get('address')?.touched && profileForm.get('address')?.errors"
                      >
                        Address is required
                      </span>
                    </div>
                  </ion-item>

                  <!-- Email -->
                  <ion-item class="profile-item">
                    <ion-label position="stacked">Email </ion-label>
                    <ion-input type="email" formControlName="email"
                    placeholder="ripleyenterpraises@gmail.com"></ion-input>
                    <div class="error-container">
                      <span
                        class="danger"
                        *ngIf="profileForm.get('email')?.touched && profileForm.get('email')?.errors"
                      >
                        <span
                          *ngIf="profileForm.get('email')?.errors?.['required']"
                          >Email is required</span
                        >
                        <span
                          *ngIf="profileForm.get('email')?.errors?.['email']"
                          >Please enter a valid email address</span
                        >
                      </span>
                    </div>
                  </ion-item>

                  <!-- Bank Details -->
                  <ion-item class="profile-item">
                    <ion-label position="stacked"
                      >Bank Account Details
                    </ion-label>
                    <ion-input formControlName="bankDetails"
                    placeholder="ripleyenterpraises@gmail.com"></ion-input>
                    <div class="error-container">
                      <span
                        class="danger"
                        *ngIf="profileForm.get('bankDetails')?.touched && profileForm.get('bankDetails')?.errors"
                      >
                        Bank details are required
                      </span>
                    </div>
                  </ion-item>
                  <!-- <ion-text
                    color="danger"
                    *ngIf="profileForm.get('bankDetails')?.touched && profileForm.get('bankDetails')?.errors"
                  >
                    Bank details are required
                  </ion-text> -->

                  <!-- Currency -->
                  <ion-item class="profile-item">
                    <ion-label position="stacked">Currency </ion-label>
                    <ion-input formControlName="currency"
                    placeholder="ripleyenterpraises@gmail.com"></ion-input>
                    <div class="error-container">
                      <span
                        class="danger"
                        *ngIf="profileForm.get('currency')?.touched && profileForm.get('currency')?.errors"
                      >
                        Please select currency
                      </span>
                    </div>
                  </ion-item>
                </ion-list>
              </ion-col>

              <!-- RIGHT COLUMN -->
              <ion-col class="right-col" size="6">
                <ion-list lines="none">
                  <!-- Phone -->
                  <ion-item class="profile-item">
                    <ion-label position="stacked">
                      Contact Phone Number
                    </ion-label>

                    <ion-input type="tel" formControlName="phone"
                    placeholder="96293 73567"></ion-input>

                    <div class="error-container">
                      <!-- Required -->
                      <span
                        class="danger"
                        *ngIf=" profileForm.get('phone')?.touched &&profileForm.get('phone')?.errors?.['required']"
                      >
                        Phone number is required
                      </span>

                      <!-- Pattern -->
                      <span
                        class="danger"
                        *ngIf="profileForm.get('phone')?.touched &&profileForm.get('phone')?.errors?.['pattern']"
                      >
                        Enter a valid 10-digit phone number
                      </span>
                    </div>
                  </ion-item>

                  <!-- Primary Contact -->
                  <ion-item class="profile-item">
                    <ion-label position="stacked"
                      >Primary Contact Name
                    </ion-label>
                    <ion-input formControlName="primaryContact"
                    placeholder="349 086"></ion-input>
                    <div class="error-container"
                    >
                      <span
                        class="danger"
                        *ngIf="profileForm.get('primaryContact')?.touched && profileForm.get('primaryContact')?.errors"
                      >
                        Primary contact is required
                      </span>
                    </div>
                  </ion-item>

                  <!-- GST -->
                  <ion-item class="profile-item">
                    <ion-label position="stacked">Tax / GST Number </ion-label>
                    <ion-input formControlName="gst"
                    placeholder="43747134791"></ion-input>
                    <div class="error-container">
                      <span
                        class="danger"
                        *ngIf="profileForm.get('gst')?.touched && profileForm.get('gst')?.errors"
                      >
                        Please enter a valid GST number
                      </span>
                    </div>
                  </ion-item>

                  <!-- Time Zone -->
                  <ion-item class="profile-item">
                    <ion-label position="stacked">Time Zone </ion-label>
                    <ion-input formControlName="timeZone"
                    placeholder="349 086"></ion-input>
                    <div class="error-container">
                      <span
                        class="danger"
                        *ngIf="profileForm.get('timeZone')?.touched && profileForm.get('timeZone')?.errors"
                      >
                        Please select a time zone
                      </span>
                    </div>
                  </ion-item>

                  <!-- Postal Code -->
                  <ion-item class="profile-item">
                    <ion-label position="stacked">Postal Code </ion-label>
                    <ion-input formControlName="postalCode"
                    placeholder="349 086"></ion-input>
                    <div class="error-container">
                      <span
                        class="danger"
                        *ngIf="profileForm.get('postalCode')?.touched && profileForm.get('postalCode')?.errors"
                      >
                        Please enter a valid 6-digit postal code
                      </span>
                    </div>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>
          <!-- Submit Button -->
          <ion-button
            color="Primary"
            expand="block"
            type="submit"
            [disabled]="profileForm.invalid"
            fill="clear"
          >
            Submit for Approval
          </ion-button>
        </form>
      </ion-card>
    </div>
  </div>
</ion-content>
