<ion-content mode="ios">
  <!-- <div class="root"> -->
  <div class="driver-profile-container">
    <div class="title-container">
      <div routerLink="/admin/driver">
        <ion-icon name="chevron-back-outline"></ion-icon
        ><span class="name">Driver</span>
      </div>
    </div>
    <ion-card>
      <form [formGroup]="form">
        <div class="header-container">
          <h2>Driver Profile</h2>
        </div>
        <div class="status-container">
          <!-- <ion-toggle class="success" [(ngModel)]="isActive"></ion-toggle> -->
          <ion-toggle class="dark-green" (ngModel)]="isActive"
            ><span>Active</span></ion-toggle
          >
        </div>

        <ion-grid>
  <ion-row>
    <ion-col size="12" size-md="6">
      <ion-label>Driver Name</ion-label>

      <ion-input
        placeholder="Eg: Michael"
        formControlName="driverName"
      ></ion-input>

      <div class="error-container">
        <ion-text
          class="danger"
          *ngIf="form.get('driverName')?.touched && form.get('driverName')?.errors"
        >
          Driver Name is required
        </ion-text>
      </div>
    </ion-col>

    <ion-col size="12" size-md="6" class="align-right-field">
      <ion-label>Phone Number</ion-label>

      <ion-input
        type="tel"
        formControlName="phoneNumber"
        placeholder="Eg: 84579485**"
      ></ion-input>

      <div class="error-container">
        <ion-text
          class="danger"
          *ngIf="form.get('phoneNumber')?.touched"
        >
          <span *ngIf="form.get('phoneNumber')?.hasError('required')">
            Phone Number is required
          </span>

          <span *ngIf="form.get('phoneNumber')?.hasError('pattern')">
            Enter valid 10 digit number
          </span>
        </ion-text>
      </div>
    </ion-col>

    <ion-col size="12" size-md="6">
      <ion-label>Emergency Contact</ion-label>

      <ion-input
        type="tel"
        formControlName="emergencyContact"
        placeholder="Eg: 6379018899"
      ></ion-input>

      <div class="error-container">
        <ion-text
          class="danger"
          *ngIf="form.get('emergencyContact')?.touched &&
          form.get('emergencyContact')?.hasError('pattern')"
        >
          Enter valid 10 digit number
        </ion-text>
      </div>
    </ion-col>

    <ion-col size="12" size-md="6" class="align-right-field">
      <ion-label>Address</ion-label>

      <ion-input
        formControlName="address"
        placeholder="Eg: No 389, New York..."
      ></ion-input>

      <div class="error-container"></div>
    </ion-col>

    <ion-col size="12" size-md="6">
      <div class="upload-container">
        <ion-label class="upload-ion-label">
          Driving License
        </ion-label>

        <div class="upload-box">
          <input
            type="file"
            #licenseInput
            hidden
            multiple
            formControlName="license"
            (change)="onFileSelected($event, 'license')"
          />

          <div
            class="file-placeholder"
            *ngIf="!selectedFiles['license']?.length"
            (click)="licenseInput.click()"
          >
            Upload Driving License
          </div>

          <div
            class="file-pill"
            *ngFor="let file of selectedFiles['license']; let i = index"
            (click)="licenseInput.click()"
          >
            <div class="file-name">{{ file.name }}</div>

            <ion-icon
              name="close-circle-outline"
              (click)="removeFile($event, 'license', i)"
            ></ion-icon>
          </div>

          <div class="upload-icon" (click)="licenseInput.click()">
            <ion-icon name="add-circle-outline"></ion-icon>
          </div>
        </div>

        <div class="error-container"></div>
      </div>
    </ion-col>

    <ion-col size="12" size-md="6" class="align-right-field">
      <div class="upload-container">
        <ion-label class="upload-ion-label">
          Aadhaar / ID Proof
        </ion-label>

        <div class="upload-box">
          <input
            type="file"
            #aadhaarInput
            hidden
            multiple
            formControlName="aadhaar"
            (change)="onFileSelected($event, 'aadhaar')"
          />

          <div
            class="file-placeholder"
            *ngIf="!selectedFiles['aadhaar']?.length"
            (click)="aadhaarInput.click()"
          >
            Upload Aadhaar / ID Proof
          </div>

          <div
            class="file-pill"
            *ngFor="let file of selectedFiles['aadhaar']; let i = index"
            (click)="aadhaarInput.click()"
          >
            <div class="file-name">{{ file.name }}</div>

            <ion-icon
              name="close-circle-outline"
              (click)="removeFile($event, 'aadhaar', i)"
            ></ion-icon>
          </div>

          <div class="upload-icon2" (click)="aadhaarInput.click()">
            <ion-icon name="add-circle-outline"></ion-icon>
          </div>
        </div>

        <div class="error-container"></div>
      </div>
    </ion-col>

    <ion-col size="12" size-md="6">
      <div class="upload-container">
        <ion-label class="upload-ion-label">
          Police Verification
        </ion-label>

        <div class="upload-box">
          <input
            type="file"
            #policeInput
            hidden
            multiple
            formControlName="policeVerification"
            (change)="onFileSelected($event, 'policeVerification')"
          />

          <div
            class="file-placeholder"
            *ngIf="!selectedFiles['policeVerification']?.length"
            (click)="policeInput.click()"
          >
            Upload Police Verification
          </div>

          <div
            class="file-pill"
            *ngFor="let file of selectedFiles['policeVerification']; let i = index"
            (click)="policeInput.click()"
          >
            <div class="file-name">{{ file.name }}</div>

            <ion-icon
              name="close-circle-outline"
              (click)="removeFile($event, 'policeVerification', i)"
            ></ion-icon>
          </div>

          <div class="upload-icon" (click)="policeInput.click()">
            <ion-icon name="add-circle-outline"></ion-icon>
          </div>
        </div>

        <div class="error-container"></div>
      </div>
    </ion-col>

    <ion-col size="12" size-md="6" class="align-right-field">
      <div class="upload-container">
        <ion-label class="upload-ion-label">
          Medical Certificate
        </ion-label>

        <div class="upload-box">
          <input
            type="file"
            #medicalInput
            hidden
            multiple
            formControlName="medicalCertificate"
            (change)="onFileSelected($event, 'medicalCertificate')"
          />

          <div
            class="file-placeholder"
            *ngIf="!selectedFiles['medicalCertificate']?.length"
            (click)="medicalInput.click()"
          >
            Upload Medical Certificate
          </div>

          <div
            class="file-pill"
            *ngFor="let file of selectedFiles['medicalCertificate']; let i = index"
            (click)="medicalInput.click()"
          >
            <div class="file-name">{{ file.name }}</div>

            <ion-icon
              name="close-circle-outline"
              (click)="removeFile($event, 'medicalCertificate', i)"
            ></ion-icon>
          </div>

          <div class="upload-icon3" (click)="medicalInput.click()">
            <ion-icon name="add-circle-outline"></ion-icon>
          </div>
        </div>

        <div class="error-container"></div>
      </div>
    </ion-col>

    <ion-col size="12" size-md="6">
      <ion-label>Date of Joining</ion-label>

      <div class="date-box" (click)="openPicker()">
        <span>
          {{ form.get('joiningDate')?.value ?
          (form.get('joiningDate')?.value | date:'MM/dd/yyyy') :
          'mm/dd/yyyy' }}
        </span>

        <ion-icon name="calendar-clear-outline"></ion-icon>
      </div>

      <ion-modal [isOpen]="isOpen" (didDismiss)="isOpen = false">
        <ng-template>
          <ion-datetime
            presentation="date"
            formControlName="joiningDate"
            (ionChange)="selectDate($event)"
          ></ion-datetime>
        </ng-template>
      </ion-modal>

      <div class="error-container">
        <ion-text
          class="danger"
          *ngIf="form.get('joiningDate')?.touched &&
          form.get('joiningDate')?.errors"
        >
          Date of Joining is required
        </ion-text>
      </div>
    </ion-col>

    <ion-col size="12" size-md="6" class="align-right-field">
      <div class="file-container">
        <ion-label>Employment Type</ion-label>

        <div class="input">
          <ion-select
            formControlName="employmentType"
            placeholder="Eg: Contract"
          >
            <ion-select-option value="Permanent">
              Permanent
            </ion-select-option>

            <ion-select-option value="Contract">
              Contract
            </ion-select-option>

            <ion-select-option value="Part Time">
              Part Time
            </ion-select-option>
          </ion-select>

          <ion-icon class="down" name="chevron-down-outline"></ion-icon>
        </div>

        <div class="error-container"></div>
      </div>
    </ion-col>

    <ion-col size="12" size-md="6">
      <ion-label>Assign Bus (Optional)</ion-label>

      <div class="input">
        <ion-select
          formControlName="assignBus"
          placeholder="Eg: TN31BD8429"
        >
          <ion-select-option value="TN31BD8429">
            TN31BD8429
          </ion-select-option>

          <ion-select-option value="10000">
            10000
          </ion-select-option>
        </ion-select>

        <ion-icon class="down" name="chevron-down-outline"></ion-icon>
      </div>

      <div class="error-container"></div>
    </ion-col>

    <ion-col size="12" size-md="6" class="align-right-field">
      <ion-label>Assign Route (Optional)</ion-label>

      <ion-input
        formControlName="assignRoute"
        placeholder="Eg: Route 5"
      ></ion-input>

      <div class="error-container"></div>
    </ion-col>
  </ion-row>
</ion-grid> 
        <div class="button3">
          <ion-button
            fill="clear"
            (click)="driverProfile()"
            [disabled]="form.invalid"
          >
            Save
          </ion-button>
        </div>
      </form>
    </ion-card>

    <ion-card class="salary_configuration">
      <form [formGroup]="salaryForm">
        <div class="header-container">
          <h2>Salary Configuration</h2>
        </div>
        <ion-grid>
          <ion-row>
            <!-- Amount -->
            <ion-col size="12" size-md="6">
              <ion-label>Amount</ion-label>

              <ion-input
                formControlName="monthlySalary"
                placeholder="Eg: $ 45.00"
                type="number"
              >
              </ion-input>

              <div
                class="error-container"
                *ngIf="
          salaryForm.get('monthlySalary')?.touched &&
          salaryForm.get('monthlySalary')?.invalid
        "
              >
                <small
                  class="danger"
                  *ngIf="salaryForm.get('monthlySalary')?.errors?.['required']"
                >
                  Amount is required
                </small>

                <small
                  class="danger"
                  *ngIf="salaryForm.get('monthlySalary')?.errors?.['min']"
                >
                  Amount must be greater than 0
                </small>
              </div>
            </ion-col>

            <!-- Advance Date -->
            <ion-col size="12" size-md="6">
              <ion-label class="special-label">Advance Date</ion-label>

              <!-- Custom Input -->
              <div class="date-box2" (click)="openPicker2()">
                <span>
                  {{ salaryForm.get('advanceDate')?.value ?
                  (salaryForm.get('advanceDate')?.value | date:'MM/dd/yyyy') :
                  'mm/dd/yyyy' }}
                </span>

                <ion-icon name="calendar-clear-outline"></ion-icon>
              </div>

              <!-- Date Picker -->
              <ion-modal [isOpen]="isOpen2" (didDismiss)="isOpen2 = false">
                <ng-template>
                  <ion-datetime
                    formControlName="advanceDate"
                    presentation="date"
                    (ionChange)="selectDate2($event)"
                  ></ion-datetime>
                </ng-template>
              </ion-modal>
              <div class="error-container">
                <ion-text
                  class="danger"
                  *ngIf="salaryForm.get('advanceDate')?.touched && salaryForm.get('advanceDate')?.errors"
                >
                  Advance Date is required
                </ion-text>
              </div>
            </ion-col>

            <!-- Reason -->
            <ion-col size="12" size-md="6">
              <ion-label>Reason</ion-label>

              <ion-input
                formControlName="notesOptional"
                placeholder="Eg: New Tyre has been changed"
              >
              </ion-input>

              <div
                class="error-container"
                *ngIf="
          salaryForm.get('notesOptional')?.touched &&
          salaryForm.get('notesOptional')?.invalid
        "
              >
                <small
                  class="danger"
                  *ngIf="salaryForm.get('notesOptional')?.errors?.['required']"
                >
                  Reason is required
                </small>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="button2">
          <ion-button
            class="button2"
            fill="clear"
            [disabled]="salaryForm.invalid"
            class="confirm-btn"
            (click)="onSubmit()"
          >
            Save
          </ion-button>
        </div>
      </form>
    </ion-card>

    <ion-card class="expense-container">
      <div class="header">
        <div class="expense-header-container">
          <h2>Advance Salary Management</h2>
        </div>
        <div class="button">
          <ion-button (click)="addNewSchool()" fill="clear">
            <div>Add Advance</div>
            <ion-icon class="plus" name="add-outline"></ion-icon>
          </ion-button>
        </div>
      </div>

      <div class="table-expense-container">
        <div class="head-container">
          <!-- <div class="table-head-wrap">
              <div class="table-head"> -->
          <span
            ><div><div class="date">Date</div></div></span
          >
          <span><div class="category">Reason</div></span>
          <span><div class="amount">Amount</div></span>
          <span><div class="status">Status</div></span>
          <!-- </div>
            </div> -->
        </div>

        <div class="table-card">
          <div class="table-row" *ngFor="let e of advanceList">
            <span><div class="date">{{ e.date }}</div></span>
            <span><div class="category">{{ e.reason }}</div></span>
            <span><div class="amount">{{ e.amount }}</div></span>
            <span><div class="status">{{ e.status }}</div></span>
          </div>
        </div>
      </div>
    </ion-card>

    <ion-card class="monthly-card">
      <div class="monthly-container">
        <div class="header-container">
          <h2>Monthly Settlement</h2>
        </div>
        <form [formGroup]="settlementForm">
          <ion-grid>
            <ion-row>
              <ion-col class="align-left" size="12" size-md="6">
                <div class="input-count">
                  <ion-label>Monthly Salary</ion-label>
                  <ion-input
                    type="number"
                    prefix="$"
                    formControlName="monthlySalary"
                  >
                  </ion-input>
                </div>
              </ion-col>

              <ion-col class="align-right" size="12" size-md="6">
                <div class="input-count">
                  <ion-label>Total Advances</ion-label>
                  <ion-input
                    type="number"
                    prefix="$"
                    formControlName="totalAdvances"
                  >
                  </ion-input>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col class="align-left" size="12" size-md="6">
                <div class="input-count">
                  <ion-label>Deductions</ion-label>
                  <ion-input
                    type="number"
                    prefix="$"
                    formControlName="deductions"
                  >
                  </ion-input>
                </div>
              </ion-col>

              <ion-col class="align-right" size="12" size-md="6">
                <div class="input-count">
                  <ion-label>Net Payable</ion-label>
                  <ion-input
                    type="number"
                    prefix="$"
                    formControlName="netPayable"
                    readonly="true"
                  >
                  </ion-input>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>

          <div class="btn-container">
            <ion-button class="paid-btn" fill="clear">
              Mark as Paid
            </ion-button>

            <ion-button fill="clear" class="generate-btn">
              Generate Settlement
            </ion-button>
          </div>
        </form>
      </div>
    </ion-card>
  </div>
  <!-- </div> -->
</ion-content>
