<ion-content>
  <div class="add-new-bus-container">
   <div class="title-container">
        <div routerLink="/admin/bus">
          <ion-icon name="chevron-back-outline"></ion-icon
          ><span class="name">Bus</span>
        </div>
      </div>
    <ion-card>
      <form [formGroup]="busForm">
        <div class="header-container">
          <h2>Register New Bus</h2>
        </div>

        <ion-grid>
          <ion-row>
            <!-- Bus Registration -->
            <ion-col size="12" size-md="6">
              <ion-label>Bus Registration Number</ion-label>

              <ion-input
                formControlName="busRegistrationNumber"
                placeholder="Eg: TN48C238"
              ></ion-input>
              <div class="error-container">
                <ion-text
                 class="danger"
                  *ngIf="isInvalid('busRegistrationNumber')"
                >
                  Bus Registration Number is required
                </ion-text>
              </div>
            </ion-col>

            <!-- Seating Capacity -->
            <ion-col size="12" size-md="6" class="align-right-field">
              <ion-label>Seating Capacity</ion-label>

              <ion-input
                formControlName="seatingCapacity"
                type="number"
                placeholder="Eg: 32"
              ></ion-input>
              <div class="error-container">
                <ion-text class="danger" *ngIf="isInvalid('seatingCapacity')">
                  Seating Capacity is required
                </ion-text>
              </div>
            </ion-col>

            <!-- Fuel Type -->
            <ion-col size="12" size-md="6">
              <ion-label>Fuel Type</ion-label>

              <div class="input">
                <ion-select
                  formControlName="fuelType"
                  placeholder="Eg:Petrol,Diesal..."
                >
                  <ion-select-option
                    *ngFor="let fuel of fuelTypes"
                    [value]="fuel"
                  >
                    {{ fuel }}
                  </ion-select-option>
                </ion-select>

                <ion-icon class="down" name="chevron-down-outline"></ion-icon>
              </div>
              <div class="error-container">
                <ion-text class="danger" *ngIf="isInvalid('fuelType')">
                  Fuel Type is required
                </ion-text>
              </div>
            </ion-col>

            <!-- Assign School -->
            <ion-col size="12" size-md="6" class="align-right-field">
              <ion-label>Assign School</ion-label>

              <div class="input">
                <ion-select
                  formControlName="assignSchool"
                  placeholder="Eg: SRV, ARLM..."
                >
                  <ion-select-option
                    *ngFor="let school of school2s"
                    [value]="school"
                  >
                    {{ school }}
                  </ion-select-option>
                </ion-select>

                <ion-icon name="add-circle-outline"></ion-icon>
              </div>
              <div class="error-container">
                <ion-text class="danger" *ngIf="isInvalid('assignSchool')">
                  School is required
                </ion-text>
              </div>
            </ion-col>

            <!-- Route -->
            <ion-col size="12" size-md="6">
              <ion-label>Route</ion-label>

              <ion-input
                formControlName="route"
                placeholder="Eg: Triplicane"
              ></ion-input>
              <div class="error-container">
                <ion-text class="danger" *ngIf="isInvalid('route')">
                  Route is required
                </ion-text>
              </div>
            </ion-col>

            <!-- Service Start Date -->
            <ion-col size="12" size-md="6" class="align-right-field">
              <!-- ion-Label -->
              <ion-label>Service Start Date</ion-label>

              <!-- Custom Input -->
              <div class="date-box" (click)="openPicker()">
                <span>
                  {{ busForm.get('serviceStartDate')?.value ?
                  (busForm.get('serviceStartDate')?.value | date:'MM/dd/yyyy') :
                  'mm/dd/yyyy' }}
                </span>

                <ion-icon name="calendar-clear-outline"></ion-icon>
              </div>

              <!-- Date Picker -->
              <ion-modal [isOpen]="isOpen" (didDismiss)="isOpen = false">
                <ng-template>
                  <ion-datetime
                    presentation="date"
                    formControlName="serviceStartDate"
                    (ionChange)="selectDate($event)"
                  ></ion-datetime>
                </ng-template>
              </ion-modal>
              <div class="error-container">
                <ion-text class="danger" *ngIf="isInvalid('serviceStartDate')">
                  Start Date is required
                </ion-text>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <!-- Confirm Button -->
        <ion-button
          class="confirm-btn"
          [disabled]="busForm.invalid"
          (click)="submitForm()"
          fill="clear"
        >
          Confirm
        </ion-button>
      </form>
    </ion-card>
  </div>
</ion-content>
