// @import url('https://fonts.googleapis.com/css2?family=Playwrite+MX+Guides&family=Space+Grotesk:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.title-container {
  position: relative;
  top: 20px;
  right: 90px;
  width: 220px;
  height: 48px;
  border-radius: 8px;
  padding: 5px;
  padding-right: 8px;

  background-color: #b3cbf9;
  cursor: pointer;
  div {
    position: relative;
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    top: 2px;
    left: 19px;

    font-size: 17px;

    ion-icon {
      height: 24px;
      width: 24px;
      position: relative;
      top: 4px;
      right: 8px;
    }
  }
}
.align-right-field {
  position: relative;
  left: 40px;
}
.genrate-bill-container {
  background: #f2f2f2;
  width: 910px;
  height: 880px;
  position: relative;
  top: 10px;
  left: 0px;
  bottom: 10px;

  right: 10px;
  border-radius: 14px;
  padding-left: 100px;
  overflow-x: hidden;
  margin-bottom: 10px;
}
.align-right-field {
  position: relative;
  left: 40px;
}

ion-card {
  // border: 2px solid black;
  width: 880px;
  height: 521px;
  position: relative;
  top: 90px;
  right: 75px;
  padding-top: 30%;

  margin: -60px auto 24px; /* NEGATIVE margin = overlap effect */
  background: #ffffff;
  border-radius: 12px;
  padding: 24px 32px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  ion-grid {
    position: relative;
    top: 20px;
    ion-col {
      margin-bottom: 10px;
    }
  }
}
.genrate-bill-container ion-input {
  background: #f5f6f8;
  border-radius: 8px;
  padding: 12px 14px;
  width: 372px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 19px;
  line-height: 150%;
  font-size: 16px;
  color: #333;
  --placeholder-color: #0f172abf;
  --padding-start: 25px;
  font-family: "Space Grotesk", sans-serif;

  ion-select::part(icon) {
    display: none;
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
  --highlight-height: 0; /* red underline remove */
  --border-width: 0;
}
.genrate-bill-container ion-label {
  font-size: 14px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  color: #8a8a8a;
  margin-bottom: -4px;
}
ion-button {
  height: 52px;
  width: 830px;
  border-radius: 12px;
  position: relative;
  left: -6px;
  top: 50px;
  text-transform: none;
  background-color: #4f8cff;

  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-weight: -300; /* Regular */
  line-height: 145%; /* 18px × 1.45 = ~26px */
  letter-spacing: 0px;
  text-align: center;
}

.header-container {
  border-bottom: 1px solid #e5e3dc;
  position: relative;
  top: -8px;
  h2 {
    color: #1f1f1f;
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
    line-height: 145%;
    letter-spacing: 0%;
  }
}
// .input {
//   background: #f5f6f8;
//   border-radius: 8px;
//   padding: 12px 14px;
//   width: 372px;
//   height: 50px;
//   margin-top: 10px;
//   margin-bottom: 19px;
//   line-height: 150%;
//   font-size: 16px;
//   color: #333;
//   --placeholder-color: #aaa;

//   ion-select::part(icon) {
//     display: none;
//   }

// }

.input {
  background: #f5f6f8;
  border-radius: 8px;
  width: 372px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 19px;
  font-size: 16px;

  display: flex;
  align-items: center; // vertical center
  justify-content: center; // horizontal center
  text-align: center;

  ion-icon {
    height: 24px;
    width: 24px;
    position: relative;

    right: 16px;
    top: 2px;
  }

  ion-select {
    width: 100%;
    text-align: center;
    --highlight-height: 0;
    --border-width: 0;
    --border-style: none;
  }

  ion-select::part(text) {
    text-align: center;
    width: 100%;
  }
  ion-select {
    padding-left: 25px;
    --placeholder-color: #0f172abf;
  }

  ion-select::part(icon) {
    display: none;
  }
}
.input[type="file"] {
  display: none;
}

.upload-container {
  width: 30%;
}

.upload-label {
  font-size: 14px;
  font-weight: 500;
  color: #555;
  display: block;
  margin-bottom: 6px;
  margin-top: 2px;
}

.upload-box {
  background: #f8fafc;
  border-radius: 8px;
  width: 372px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  cursor: pointer;
}

.file-pill {
  display: inline-block;
  background: #b3cbf9;
  color: #0f172a;
  width: 160px;
  height: 35px;
  padding: 6px 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 13px;
  gap: 6px;
  margin-left: 1px;
}
.file-name {
  font-family: "Space Grotesk", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 145%;
  letter-spacing: 0%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  left: -3px;
}

.file-pill ion-icon {
  transform: scale(1.7);
  width: 16.666664123535156px;
  height: 16.666664123535156;
  position: relative;
  left: 5px;
  margin-right: 7px;
  cursor: pointer;
}

.upload-icon ion-icon {
  font-size: 20px;
  color: #888;
  position: absolute;
  left: 335px;
  bottom: 35px;
}
.setting-box {
  background: #f5f6f8;
  padding: 14px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  width: 372px;
  height: 50px;
  margin-top: 10px;
}
label {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  color: #828282;
  font-family: "Space Grotesk", sans-serif;
}

.update-btn {
  margin-top: 20px;
  position: relative;
  right: 50px;
  width: 700px;
}

.toggle {
  display: flex;
  align-items: center;
  gap: 10px;
}
.setting-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.InAcStu{
  margin-bottom: 25px;
}
// .toggle {
//   display: flex;
//   align-items: center;
//   gap: 10px;
//   .toggle-container{
//     position: relative;
//     left: 30%;
//   ion-toggle {
//     position: absolute;
//     right: -50%;
//     transform: scale(0.5);
//   }
//   }
//   span {
//     position: relative;
//     left: 10px;
//     color: #000000;
//   }
// }
.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between; // 🔥 important
  width: 100%;

  // .input-box {
  //   flex: 1; // input jitni space le sakta hai le
  // }

  .toggle-container {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  ion-toggle {
    transform: scale(0.5);
  }

  span {
    position: relative;
    left: 10px;
    color: #000000;
  }
}

// .toggle {
//   display: flex;
//   align-items: center;
//   justify-content: space-between; // 🔥 main magic
//   width: 100%;
// }

// span {
//   color: #000;
//   font-size: 14px;
// }

// .toggle-container {
//   margin-left: auto; // 🔥 force right side
//   display: flex;
//   align-items: center;
// }

// ion-toggle {
//   transform: scale(0.8);
// }

.input-count {
  ion-input {
    background: #ffffff;
    border-radius: 8px;
    width: 368px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 19px;
    font-size: 16px;
    border: 1px solid #c7c9cc;
  }
}
.error-container {
  min-height: 28px; // validation aaye ya na aaye space reserve rahega
  margin-top: -18px;
}

.danger {
  color:  #dc2626;
  font-size: 11px;
  font-weight: 400;
  display: block;
  line-height: 1.2;
}
@media only screen and (min-width: 1600px) {
  .genrate-bill-container {
    width: 99%;

    // left: 20px;
    // padding-left: 120px;
  }

  .right-side {
    left: 30px;
  }
  .setting-box {
    width: 91%;
  }
  .input {
    width: 91%;
  }
  .genrate-bill-container ion-input {
    width: 91%;
  }

  ion-card {
    width: 105%;
    height: 550px;
  }

  ion-button {
    width: 100%;
    min-width: 400px;
    top: 45px;
  }
}

/* ================== Laptop (1280px – 1599px) ================== */
@media only screen and (max-width: 1599px) and (min-width: 1280px) {
  .genrate-bill-container {
    width: 99%;

    // padding-left: 140px;
  }
  .setting-box {
    width: 91%;
  }
  .input {
    width: 91%;
  }

  .right-side {
    left: 30px;
  }

  ion-card {
    width: 107%;

      height: 550px;
  }

  .genrate-bill-container ion-input {
    width: 91%;
  }

  ion-button {
    width: 100%;
    min-width: 400px;
    top: 45px;
  }
}

// /* ================== Tablet (768px – 1279px) ================== */
@media only screen and (max-width: 1279px) and (min-width: 768px) {
  .genrate-bill-container {
    width: 99%;
  }
  .input {
    width: 91%;
  }
  .setting-box {
    width: 91%;
  }

  .right-side {
    left: 30px;
  }

  ion-card {
    width: 109.5%;
    // height: 1050px;
      height: 550px;

    // right: 0;
    // top: 60px;
  }
  .title-container {
    margin-left: 50;
  }

  ion-grid {
    display: block;
  }

  .right-col {
  }

  .genrate-bill-container ion-input {
    width: 91%;
  }

  ion-button {
    width: 100%;
    min-width: 400px;
    top: 40px;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 900px) {
  .genrate-bill-container {
    width: 99.5%;
  }
  .input {
    width: 91%;
  }
  .setting-box {
    width: 91%;
  }

  .right-side {
    left: 30px;
  }

  ion-card {
    width: 107%;
      height: 550px;

    // right: 0;
    // top: 60px;
  }
  .title-container {
    margin-left: 50;
  }

  ion-grid {
    display: block;
  }

  .right-col {
  }

  .genrate-bill-container ion-input {
    width: 91%;
  }

  ion-button {
    width: 100%;
    min-width: 400px;
    top: 50px;
  }
}
@media only screen and (max-width: 767px) {
  /* Outer container */
  .genrate-bill-container {
    width: 99%;
    height: 1550px;
    // padding: 10px;
    background: #f2f2f2;
    padding: 8px 10px;
  }
  .input {
    width: 91%;
    margin-left: 20px;
  }
  .input-count {
   

  }.danger {
    
   position:relative;
   left: 21px;
  }
  .setting-box {
    width: 91%;
    margin-left: 20px;
    margin-bottom: 25px;
  }

  /* Card */
  // ion-card {
  //   min-width: 300px;
  //   height: 800px;
  //   margin: 5px;
  //   padding: 16px;
  //   border-radius: 12px;
  //   top: 30px;
  //   right: 0;
  // }
  ion-card {
    width: 100%;
    height: 800px;
    position: static;
    margin: 10px 0;
    margin-top: 30px;
  }
  .align-right-field {
    left: 0;
  }

  /* Top button (My profile) */
  .title-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    right: 0;
  }

  /* Heading */
  .form-head {
    font-size: 16px;
    margin-bottom: 12px;
  }

  /* 🔥 GRID → SINGLE COLUMN */
  ion-grid {
    display: block;
  }

  ion-row {
    display: block;
    left: 20px;
  }

  ion-col {
    width: 100%;
    padding: 0;
  }

  /* Remove right side shift */
  // .right-col {
  //   left: 0;
  //   margin-top: 10px;
  // }

  /* Form fields */
  .genrate-bill-container {
    margin-bottom: 12px;
  }

  .genrate-bill-container ion-label {
    font-size: 13px;
    margin-bottom: 4px;
    margin-left: 20px;
  }

  .genrate-bill-container ion-input {
    width: 91%;
    min-width: 31%;
    height: 44px;
    font-size: 14px;
    padding: 10px;
    border-radius: 8px;
     margin-left: 20px;
  }
  

  /* Button */
  ion-button {
    width: 100%;
    min-width: 200px;
    height: 48px;
    margin-top: -16px;
    border-radius: 10px;
    font-size: 15px;
  }

  /* Remove extra spacing issue */
  body {
    overflow-x: hidden;
  }
}
