<ion-content>
  <div class="profile-container">
    <div class="header">
      <div class="title-container">
        <div>Students & Parents</div>
      </div>
      <ion-button (click)="addNewSchool()" fill="clear" fill="clear"
        ><div class="plus-container"><span>+</span></div> <p>Enroll New Student</p></ion-button
      >
    </div>
    <div class="table-container">
      <div class="border-table">
      <div class="head-container">
        <!-- <div class="table-head-wrap">
          <div class="table-head"> -->
        <span class="s-no">S.no</span>
        <span class="school-name"><div class="special">Students<br />&nbsp;&nbsp;&nbsp;Name</div></span>
        <span class="school">School<img src="\assets\img\mynaui_filter-solid.png" alt=""></span>
        <span class="buses">Assigned<br />&nbsp;&nbsp;&nbsp;&nbsp;Bus</span>
        <span class="A-route">Assigned<br />&nbsp;&nbsp;&nbsp;Route></span>
        <span class="advance"><div class="special3">Assigned <br />&nbsp;&nbsp;&nbsp;Stop</div></span>
        <span class="status">Status</span>
        <!-- </div>
        </div> -->
      </div>
      </div>

      <div class="table-card">
        <div>
          <div class="table-row" *ngFor="let s of schools; let i = index">
            <span class="c-no">{{ i + 1 }}</span>
            <span><div class="driver-name">{{ s.name }}</div></span>
            <span><div class="school-N">{{ s.school }}</div></span>
            <span class="buses-no">{{ s.buses }}</span>
            <span class="route">{{s.route}}</span>
            <span><div class="assigned-stop">{{ s.outstandingAdvance }}</div></span>
            <span class="active"><div class="active2">{{ s.status }}</div></span>
            <span>
            <p
              class="view"
              [routerLink]="['/admin/students-and-parents/student-profile']"
              >View ››</p
            ></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
