<ion-content>
  <div class="root">
    <div class="add-new-driver-container">
      <div class="title-container">
        <div routerLink="/admin/driver">
          <ion-icon name="chevron-back-outline"></ion-icon
          ><span class="name">Driver</span>
        </div>
      </div>
      <ion-card>
        <form [formGroup]="driverForm">
          <div class="header-container">
            <h2>Add New Driver</h2>
          </div>
          <ion-grid>
            <ion-row>
              <!-- Driver Name -->
              <ion-col size="12" size-md="6">
                <ion-label>Driver Name</ion-label>

                <ion-input
                  formControlName="dateOfJoining"
                  placeholder="Eg: Michael"
                ></ion-input>
                <div class="error-container">
                  <ion-text
                    class="danger"
                    *ngIf="driverForm.get('dateOfJoining')?.touched && driverForm.get('dateOfJoining')?.errors"
                  >
                    Driver Name is required
                  </ion-text>
                </div>
              </ion-col>

              <!-- Phone Number -->
              <ion-col size="12" size-md="6" class="align-right-field">
                <ion-label>Phone Number</ion-label>

                <ion-input
                  type="tel"
                  formControlName="phoneNumber"
                  placeholder="Eg: 84579485**"
                ></ion-input>
                <div class="error-container">
                  <ion-text
                    class="danger"
                    *ngIf="driverForm.get('phoneNumber')?.touched && driverForm.get('phoneNumber')?.errors"
                  >
                    Phone Number is required
                  </ion-text>
                </div>
              </ion-col>

              <!-- Emergency Contact -->
              <ion-col size="12" size-md="6">
                <ion-label>Emergency Contact</ion-label>

                <ion-input
                  type="tel"
                  formControlName="emergencyContact"
                  placeholder="Eg: 6379018899"
                ></ion-input>
                <div class="error-container">
                  <ion-text
                    class="danger"
                    *ngIf="driverForm.get('emergencyContact')?.touched && driverForm.get('emergencyContact')?.errors"
                  >
                    Emergency Contact is required
                  </ion-text>
                </div>
              </ion-col>

              <!-- Address -->
              <ion-col size="12" size-md="6" class="align-right-field">
                <ion-label>Address</ion-label>

                <ion-input
                  formControlName="address"
                  placeholder="Eg: No 389, New York..."
                ></ion-input>
                <div class="error-container">
                  <ion-text
                    class="danger"
                    *ngIf="driverForm.get('address')?.touched && driverForm.get('address')?.errors"
                  >
                    Address is required
                  </ion-text>
                </div>
              </ion-col>

              <!-- Driving License -->
              <ion-col size="12" size-md="6" id="DL">
                <div class="upload-container">
                  <ion-label class="upload-label">Driving License</ion-label>

                  <div class="upload-box">
                    <input
                      type="file"
                      #licenseInput
                      hidden
                      multiple
                      formControlName="license"
                      (change)="onFileSelected($event, 'license')"
                    />

                    <!-- Placeholder -->
                    <div
                      class="file-placeholder"
                      *ngIf="!selectedFiles['license']?.length"
                      (click)="licenseInput.click()"
                    >
                      Upload Driving License
                    </div>

                    <!-- Selected Files -->
                    <div
                      class="file-pill"
                      *ngFor="let file of selectedFiles['license']; let i = index"
                      (click)="licenseInput.click()"
                    >
                      <div class="file-name">{{ file.name }}</div>

                      <ion-icon
                        name="close-circle-outline"
                        (click)="removeFile($event, 'license', i)"
                      ></ion-icon>
                    </div>

                    <!-- Add Icon -->
                    <div class="upload-icon" (click)="licenseInput.click()">
                      <ion-icon name="add-circle-outline"></ion-icon>
                    </div>
                  </div>
                </div>
                <div class="error-container">
                  <ion-text
                    class="danger"
                    *ngIf="driverForm.get('license')?.touched && !selectedFiles['license']?.length"
                  >
                    Driving License is required
                  </ion-text>
                </div>
              </ion-col>

              <!-- Aadhaar -->
              <ion-col size="12" size-md="6" class="align-right-field" id="AD">
                <div class="upload-container">
                  <ion-label class="upload-label">Aadhaar / ID Proof</ion-label>

                  <div class="upload-box">
                    <input
                      type="file"
                      #aadhaarInput
                      hidden
                      multiple
                      formControlName="aadhaar"
                      (change)="onFileSelected($event, 'aadhaar')"
                    />

                    <!-- Placeholder -->
                    <div
                      class="file-placeholder"
                      *ngIf="!selectedFiles['aadhaar']?.length"
                      (click)="aadhaarInput.click()"
                    >
                      Upload Aadhaar / ID Proof
                    </div>

                    <!-- Selected Files -->
                    <div
                      class="file-pill"
                      *ngFor="let file of selectedFiles['aadhaar']; let i = index"
                      (click)="aadhaarInput.click()"
                    >
                      <div class="file-name">{{ file.name }}</div>

                      <ion-icon
                        name="close-circle-outline"
                        (click)="removeFile($event, 'aadhaar', i)"
                      ></ion-icon>
                    </div>

                    <!-- Add Icon -->
                    <div class="upload-icon2" (click)="aadhaarInput.click()">
                      <ion-icon name="add-circle-outline"></ion-icon>
                    </div>
                  </div>
                </div>
                <div class="error-container">
                  <ion-text
                    class="danger"
                    *ngIf="driverForm.get('aadhaar')?.touched && !selectedFiles['aadhaar']?.length"
                  >
                    Aadhaar / ID Proof is required
                  </ion-text>
                </div>
              </ion-col>

              <!-- Police Verification -->
              <ion-col size="12" size-md="6">
                <div class="upload-container">
                  <ion-label class="upload-label"
                    >Police Verification</ion-label
                  >

                  <div class="upload-box">
                    <input
                      type="file"
                      #policeInput
                      hidden
                      multiple
                      formControlName="policeVerification"
                      (change)="onFileSelected($event, 'policeVerification')"
                    />

                    <!-- Placeholder -->
                    <div
                      class="file-placeholder"
                      *ngIf="!selectedFiles['policeVerification']?.length"
                      (click)="policeInput.click()"
                    >
                      Upload Police Verification
                    </div>

                    <!-- Selected Files -->
                    <div
                      class="file-pill"
                      *ngFor="let file of selectedFiles['policeVerification']; let i = index"
                      (click)="policeInput.click()"
                    >
                      <div class="file-name">{{ file.name }}</div>

                      <ion-icon
                        name="close-circle-outline"
                        (click)="removeFile($event, 'policeVerification', i)"
                      ></ion-icon>
                    </div>

                    <!-- Add Icon -->
                    <div class="upload-icon" (click)="policeInput.click()">
                      <ion-icon name="add-circle-outline"></ion-icon>
                    </div>
                  </div>
                </div>
                <div class="error-container">
                  <ion-text
                    class="danger"
                    *ngIf="driverForm.get('policeVerification')?.touched && !selectedFiles['policeVerification']?.length"
                  >
                    Police Verification is required
                  </ion-text>
                </div>
              </ion-col>

              <!-- Medical Certificate -->
              <ion-col size="12" size-md="6" class="align-right-field" id="MC">
                <div class="upload-container">
                  <ion-label class="upload-label"
                    >Medical Certificate</ion-label
                  >

                  <div class="upload-box">
                    <input
                      type="file"
                      #medicalInput
                      hidden
                      multiple
                      formControlName="medicalCertificate"
                      (change)="onFileSelected($event, 'medicalCertificate')"
                    />

                    <!-- Placeholder -->
                    <div
                      class="file-placeholder"
                      *ngIf="!selectedFiles['medicalCertificate']?.length"
                      (click)="medicalInput.click()"
                    >
                      Upload Medical Certificate
                    </div>

                    <!-- File Pills -->
                    <div
                      class="file-pill"
                      *ngFor="let file of selectedFiles['medicalCertificate']; let i = index"
                      (click)="medicalInput.click()"
                    >
                      <div class="file-name">{{ file.name }}</div>

                      <ion-icon
                        name="close-circle-outline"
                        (click)="removeFile($event, 'medicalCertificate', i)"
                      ></ion-icon>
                    </div>

                    <!-- Add Icon -->
                    <div class="upload-icon3" (click)="medicalInput.click()">
                      <ion-icon name="add-circle-outline"></ion-icon>
                    </div>
                  </div>
                </div>
                <div class="error-container">
                  <ion-text
                    class="danger"
                    *ngIf="driverForm.get('medicalCertificate')?.touched && !selectedFiles['medicalCertificate']?.length"
                  >
                    Medical Certificate is required
                  </ion-text>
                </div>
              </ion-col>

              <!-- Date of Joining -->
              <ion-col size="12" size-md="6">
                <label class="special-label">Date of Joining</label>

                <!-- Custom Input -->
                <div class="date-box" (click)="openPicker()">
                  <span>
                    {{ driverForm.get('dateOfJoining')?.value ?
                    (driverForm.get('dateOfJoining')?.value | date:'MM/dd/yyyy')
                    : 'mm/dd/yyyy' }}
                  </span>

                  <ion-icon name="calendar-clear-outline"></ion-icon>
                </div>

                <!-- Date Picker -->
                <ion-modal [isOpen]="isOpen" (didDismiss)="isOpen = false">
                  <ng-template>
                    <ion-datetime
                      formControlName="dateOfJoining"
                      presentation="date"
                      (ionChange)="selectDate($event)"
                    ></ion-datetime>
                  </ng-template>
                </ion-modal>
                <div class="error-container">
                  <ion-text
                    class="danger"
                    *ngIf="driverForm.get('dateOfJoining')?.touched && driverForm.get('dateOfJoining')?.errors"
                  >
                    Date of Joining is required
                  </ion-text>
                </div>
              </ion-col>

              <!-- Employment Type -->
              <ion-col size="12" size-md="6" class="align-right-field" id="ET">
                <div class="file-container">
                  <ion-label>Employment Type</ion-label>

                  <div class="input">
                    <ion-select
                      formControlName="employmentType"
                      placeholder="Eg: Contract"
                    >
                      <ion-select-option value="Permanent">
                        Permanent
                      </ion-select-option>

                      <ion-select-option value="Contract">
                        Contract
                      </ion-select-option>

                      <ion-select-option value="Part Time">
                        Part Time
                      </ion-select-option>
                    </ion-select>

                    <ion-icon
                      class="down"
                      name="chevron-down-outline"
                    ></ion-icon>
                  </div>
                </div>
                <div class="error-container">
                  <ion-text
                    class="danger"
                    *ngIf="driverForm.get('employmentType')?.touched && driverForm.get('employmentType')?.errors"
                  >
                    Employment Type is required
                  </ion-text>
                </div>
              </ion-col>

              <!-- Assign Bus -->
              <ion-col size="12" size-md="6">
                <ion-label>Assign Bus (Optional)</ion-label>

                <div class="input">
                  <ion-select
                    formControlName="assignBus"
                    placeholder="Eg: TN31BD8429"
                  >
                    <ion-select-option value="TN31BD8429">
                      TN31BD8429
                    </ion-select-option>

                    <ion-select-option value="10000"> 10000 </ion-select-option>
                  </ion-select>

                  <ion-icon class="down" name="chevron-down-outline"></ion-icon>
                </div>
                <div class="error-container"></div>
              </ion-col>

              <!-- Assign Route -->
              <ion-col size="12" size-md="6" class="align-right-field">
                <ion-label>Assign Route (Optional)</ion-label>

                <ion-input
                  formControlName="assignRoute"
                  placeholder="Eg: Route 5"
                ></ion-input>
                <div class="error-container"></div>
              </ion-col>

              <!-- Monthly Salary -->
              <ion-col size="12" size-md="6">
                <ion-label>Monthly Salary</ion-label>

                <div class="input">
                  <ion-select
                    formControlName="assignBus"
                    placeholder="Eg: 10000"
                  >
                    <ion-select-option value="10000"> 10000 </ion-select-option>

                    <ion-select-option value="15000"> 15000 </ion-select-option>
                  </ion-select>

                  <ion-icon class="down" name="chevron-down-outline"></ion-icon>
                </div>
                <div class="error-container">
                  <ion-text
                    class="danger"
                    *ngIf="driverForm.get('monthlySalary')?.touched && driverForm.get('monthlySalary')?.errors"
                  >
                    Monthly Salary is required
                  </ion-text>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-button
            expand="block"
            (click)="onSubmit()"
            [disabled]="driverForm.invalid"
          >
            Save
          </ion-button>
        </form>
      </ion-card>
    </div>
  </div>
</ion-content>
